<!DOCTYPE html>
<html>
    <head>
        <title>raccoon writing code</title>
    </head>    
    <body>
        <header>
            <h1><a href="/">A raccoon is learning to code</a></h1>
        </header>
        
        <article>
            <time>published: 29.03.2025, 12:10</time>
            <h2><a href="">My first post</a></h2>
            <p>I am coding and drinking coffee. woooo.</p>
        </article>

        <article>
            <time>published: 29.03.2025, 12:11</time>
            <h2><a href="">My second post</a></h2>
            <p>Hi there!</p>
            <p>It works!</p>
        </article>
            
    </body>
</html>
